<div id="kmcHeader">
	<div id="logo"></div>
	<ul id="hTabs">
		<li>
			<a id="dashboard" rel="">
				<span>Dashboard</span>
			</a>
		</li>
		<li>
			<a id="content" rel="manage">
				<span>Content</span>
			</a>
		</li>
		<li>
			<a id="studio" rel="universal_studio">
				<span>Studio</span>
			</a>
		</li>
		<li>
			<a id="analytics" rel="contentDashboard">
				<span>Analytics</span>
			</a>
		</li>
		<li>
			<a id="account" rel="overview">
				<span>Settings</span>
			</a>
		</li>
		<li>
			<a id="account" rel="usageDashboard" class='active'>
				<span>Account Usage Reports</span>
			</a>
		</li>
	</ul>
	<!-- <img class="langIcon" title="Select Language" src="/lib/images/kmc/en_US.png">
	<div id="user">
		<span class="left-arrow"></span>Roman Kreichman
	</div>
	<div id="user_links" style="width: 308px; visibility: visible; top: 6px; right: 29px; padding-top: 2px; padding-bottom: 2px;">
		<span id="closeMenu"></span> &nbsp;&nbsp;
		<span>
			Roman Kreichman&nbsp;&nbsp; 
			<a id="Logout">( Logout )</a>&nbsp;&nbsp; 
		</span>
		<span>
			<span class="sep">|</span> &nbsp; 
			<a id="Quickstart Guide">
				User Manual
			</a> &nbsp; 
			<span class="sep">|</span> &nbsp;
			<a id="Support">
				Support
			</a>
		</span>
	</div> -->
</div>