<script type="text/javascript" src='../bower_components/jquery/dist/jquery.js'></script>
<script type="text/javascript" src='../bower_components/jquery-ui/jquery-ui.min.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.canvas.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.categories.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.crosshair.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.errorbars.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.fillbetween.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.navigate.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.pie.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.resize.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.selection.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.stack.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.symbol.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.threshold.js'></script>
<script type="text/javascript" src='../bower_components/jquery-flot/jquery.flot.time.js'></script>
<script type="text/javascript" src='../bower_components/flot-axislabels/jquery.flot.axislabels.js'></script>
<script type="text/javascript" src='../bower_components/flot.tooltip/js/jquery.flot.tooltip.min.js'></script>
<script type="text/javascript" src='../bower_components/select2/select2.min.js'></script>

<script type="text/javascript" src='../bower_components/angular/angular.min.js'></script>
<script type="text/javascript" src='../bower_components/angular-flot/angular-flot.js'></script>
<script type="text/javascript" src="../bower_components/angular-ui-date/src/date.js"></script>
<script type="text/javascript" src='../bower_components/angular-select2/dist/angular-select2.js'></script>
<script type="text/javascript" src='../bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js'></script>
<script type="text/javascript" src='scripts/scripts.js'></script>

<!--
	IE8 support, see AngularJS Internet Explorer Compatibility http://docs.angularjs.org/guide/ie
	For Firefox 3.6, you will also need to include jQuery and ECMAScript 5 shim
-->
<!--[if lt IE 9]>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/es5-shim/2.2.0/es5-shim.js"></script>
	<script>
		document.createElement('ui-select');
		document.createElement('ui-select-match');
		document.createElement('ui-select-choices');
	</script>
<![endif]-->
<!--[if lte IE 8]>
	<script type="text/javascript" src="js/scripts-ie8.js"></script>
<![endif]-->