<div class='side-menu row-fluid span2'>
	<ul class='top-ul'>
		<li class='side-menu-top-ul-item' ng-click='state.go("overall-usage")'>
			<span>Dashboard Usage Reports</span>
		</li>
		<li>
			<ul class='inner-ul'>
				<li>
					<span>
						<a href='overall-usage-report.html'>
							Overall Usage Report
						</a>
					</span>
				</li>
				<li>
					<span>
						<a href='plays-report.html'>
							Plays Report
						</a>
					</span>
				</li>
				<li>
					<span>
						<a href='bandwidth-report.html'>
							Bandwidth Report
						</a>
					</span>
				</li>
				<li>
					<span>
						<a href='storage-report.html'>
							Storage Report
						</a>
					</span>
				</li>
				<li>
					<span>
						<a href='transcoding-consumption-report.html'>
							Transcoding Consumption Report
						</a>
					</span>
				</li>
				<li>
					<span>
						<a href='media-entries-report.html'>
							Media Entries Report
						</a>
					</span>
				</li>
			</ul>
		</li>
	</ul>
</div>