//colors
@main-bg: #f0efef;
@white-bg: #fafafa;
@dark-bg: #E8E8E8;
@blue: #99c7cc;
@dark-aqua: #189FAD;
@dark-gray: #d8d7d7;
@text-gray: #828282;
//gradient
@gradient-top: @white-bg;
@gradient-bottom: #E0E0E0;
//fonts
@large-font: 24px;
@medium-font: 15px;
@small-font: 12px;
//width
@min-width: 800px;