.percent-width(@n) {
	width: replace(~'x%', 'x', 100/@n);
}

.text-shadow(){
	text-shadow: 0 0 0px @text-light-gray;
}

.gradient(@start, @end){
	background: -moz-linear-gradient(top, @start 0%, @end 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@start), color-stop(100%, @end)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @start 0%, @end 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, @start 0%, @end 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, @start 0%, @end 100%); /* IE10+ */
	background: linear-gradient(to bottom, @start 0%, @end 100%); /* W3C */
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='@{start}',endColorstr='@{end}',GradientType=0)"; /* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@{start}',endColorstr='@{end}',GradientType=0); /* IE6-9 */
}

.gradient-table(){
	.gradient(@gradient-top, @gradient-bottom);
}

.height-2(@height){
	height: @height;
}
.height-1(@height, @d1){
	height: @height+@d1;
}
.height-0(@height, @d1, @d2){
	height: @height+@d1+@d2;
}
.height(@height, @d1:10, @d2:15){
	.height-2(@height);
	@media (max-width: @width-2){
		.height-1(@height, @d1);
	}
	@media (max-width: @width-1){
		.height-0(@height, @d1, @d2);
	}
}